.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
	position: relative;
}

.search-button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: 0px;
	border-radius: 4px;
	right: 30px;
	top: 15%
	position: absolute;
	transition: opacity 0.3s ease;
}

.search-button:hover {
	opacity: 0.9; /* Change opacity on hover */
}

.locations,
.amenities {
	height: 100%;
	width: 25%;
	padding: 0 10px;
	box-sizing: border-box;
	position: relative;
}

.locations:hover .popover,
.amenities:hover .popover {
	display: block;
}

.locations {
	border-right: 1px solid #DDDDDD; /* Apply border only for the first left filter */
}

.popover {
	position: absolute;
	top: 100%;
	width: 250px;
	left: 0;
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style: none;
	padding: 20px;
	margin: 0;
	box-sizing: border-box;
}

.popover h2 {
	font-size: 16px;
}

.popover ul {
	list-style-type: none;
}

.locations:hover ul,
.amenities:hover ul {
	display: block;
}

.locations h3,
.amenities h3 {
	font-weight: 600;
}

.locations h4,
.amenities h4 {
	font-weight: 400;
	font-size: 14px;
}

.popover li {
	margin: 10px 0px 5px 0px;
	grid-row-gap: 4px;
	list-style: none;
	padding-left: 20px;
	display: block;
}
